body {
    padding-top: 5rem;
}

section#propertyInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
}

div#price{
    background: #60A5FA;
    color: white;
    border-radius: 1em;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

.card{
    width: 20rem;
    margin: auto;
}

span{
    margin-bottom: 1em;
}

.card-img-top{
    object-fit: cover;
    height: 15em;
}

div#single{
    margin:0, auto;
    display: flex;
   
}

.details{
    padding: 2em;
}

div#row-parent{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

}

.type{
    background: #F9BE24;
    color: white;
    border-radius: 1em;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-right: 1em;

}

.room, .bth{
    width: 2em;

}

.img-top{
    width: 50%;
}